body {
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    background:url(
        data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAAEtJREFUKFNjfPz48X9ZWVlGBigA8UFMdDG4ApAksiZ0A1BMQjYFXSNYIbpJyFbD5BixKYK5F2YDSA3xCom2GjlYCHoGm2KM4CE2wAF5b2are/zRHAAAAABJRU5ErkJggg==
           ) repeat;
}
* {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: black;
}
#side-bar{
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(196, 196, 196);
    border-top-right-radius: 5px;
    width: 410px;
    position: fixed;
    height: 560px;
}
#avatar {
    width: 30%;
    border-radius: 100%;
    margin-top: 64px;
    margin-bottom: 32px;
    display: block;
    margin-left: auto;
    margin-right: auto
}
.desc, .name, .user {
    margin-left: 41px;
    margin-right: 41px;
}
h1, p, h2, a, h3, li {
    margin-bottom: 10px;
}
li {
    list-style: none;
}
h1, h2, h3, p, a, li{
    font-family: 'Roboto', sans-serif;

}
.user{
    text-decoration: none;
    font-size: 19px;
    color: black;
    transition: color .2s ease-out;
}
.user:hover{
    color: rgb(56, 103, 165);
}
.desc{
    margin-top: 20px;
}
.nav-side-bar{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    display: grid;
}
.link-side {
    text-decoration: none;
    padding: 5px;

}
.desc, .link-side {
    font-size: 16px;
}
.link-side{
    display: flex;
    position: relative;
    padding: 15px 0;
    line-height: 12px;
    color: rgb(0, 0, 0);
    font-weight:bolder ;
    font-style: bold;
    overflow: hidden;
    cursor: pointer;
    justify-content: center;
}
.link-side::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    transition: all .5s ease;
}
.link-side:hover{
    color: white;
}
.one::before{
    background-color: #5f96aa;
}
.two::before{
    background-color: #2e5f6e;
}
.three::before{
    background-color: #3e88a6;
}
.link-side::before{
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
}
.one:hover::before{
    width: 100%;
}
.two:hover::before{
    width: 100%;
}
.three:hover::before{
    width: 100%;
}
#principal-content{
    position: relative;
    top: 70px; left: 550px;
    width: 650px;
    max-width: 750px;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(196, 196, 196);
    border-radius: 5px;
}
.icon-1{
    width: 17%;
    border-radius: 100%;
}
.title{
    margin: 16px;
}
.content{
    width: 587px;
    margin: auto;
    padding: 10px;
    border-bottom: 0px solid;
    border-right: 0px solid;
    border-top: 0px solid;
    margin-bottom: 35px;
}

.c1{
    border-left: 10px solid #18363e;
}
.c2{
    border-left: 10px solid #5f96aa;
}
.c3{
    border-left: 10px solid #2e5f6e;
}
.c4{
    border-left: 10px solid #3e88a5;
}
.c5{
    border-left: 10px solid #94c4d2;
}
.c6{
    border-left: 10px solid #5e7e8a;
}