html{
    font-size: 62.5%;
}
body {
    background-color: #b2acfa;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
}
p, h1, h2, h3, h4, li, a{
    
    margin: 0;
    color: #293845;
    font-family: 'Source Sans Pro', sans-serif;



}
p, li{
    font-size: 1.75rem;
}
a{
    font-size: 1.60rem;
}
h1{
    font-size: 3rem;
}
/* header */
header{
    margin: auto;
    width: 80%;
    display: flex;
    align-items: center;
}
header > img{
    width: 100px;
}
header > h1{
    margin-left: 20px;
}


/* nav */
nav {
    width: fit-content;
    margin: 30px auto 20px auto;
}
nav > a {
    padding: 7px 0px 7px 0px;
    padding-inline-end: 8px;
    padding-inline-start: 8px;
    text-decoration: none;
    cursor: pointer;
}
.btn{
    transition: color .2s ease-out;
}
.btn:hover{
    color: rgb(255, 255, 255);
}
/* main */
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
    background-color: white;
    width: 1010px;
    margin: auto;
    padding: 50px 50px 100px 50px;
    border-style: groove;
    border-width: 1.5px;
}

/* left div */

#leftDiv{
    display: grid;
    justify-items: center;
}
#leftDiv > p{
    text-align: center;
}
#leftDiv > img {
    width: 30vh;
    margin-top: 20px;
    margin-bottom: 20px;
}
.title{
    font-weight: 800;
    font-size: 25px;
}
.desc{
    font-size: 1.5rem;
}
.intro{
    font-style: italic;
    width: 410px;
}
/* right div */
.block{
    margin-top: 20px;
}
#rightDiv > ul{
    list-style-type: none;
    
}
#rightDiv > p{
    margin-bottom: 10px;
}



