main{
    width: 50%;
    margin-left: 100px;

}

.title {
    align-items: center;
    margin-top: 20px;
}
.logo {
    margin-right: 15px;
    width: 100px;
    height: auto;
}
.conteudo {
    padding: 20px 20px 500px 20px;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 10px;
}
.nav{
    width: 64%;
    margin: 0 auto;
    margin-top: 25px;
}
.btn-primary {
    margin-right: 10px;
}
body {
    background-image: url(9k.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}