main{
    width: 50%;
    margin-left: 100px;

}
h1, p, a {
    font-family: "Nunito Sans", sans-serif;
}
.dra-cura {
    bottom: 0;
    position: fixed;
    right: 0;
}
.title {
    align-items: center;
    margin-top: 20px;
}
.logo {
    margin-right: 15px;
    width: 100px;
    height: auto;
}
.conteudo {
    padding: 20px 20px 500px 20px;
    margin-top: 20px;
    background-color: #ffffff45;
    border-radius: 10px;
}
.nav{
    width: 64%;
    margin-top: 25px;
}
.nav-btn {
    color: #000 !important;
    border-color: #000 !important;
}
.nav-btn:hover{
    background-color: #A456AF !important;
    color: #fff !important;
}
.btn-primary {
    margin-right: 10px;
}
.cad-btn{
    background-color: #A456AF !important;
    border-color: #863f90 !important;
}
#editar, #deletar {
    background: none !important;
    border: none;
}

body {
    background-color: #e4d8f0 !important;
}