body {
    background-color: white;
    font-size: 80%
    margin-top: 10px;
    margin-bottom: 10px;
    min-width: 720px;
    max-width: 940px;
    border: solid 4px black;
    border-radius: 4px;
    word-spacing: 20px;
    text-align: center;
}
.container a{
    background-color: white;
}
.container > a {
    display: inline;
}
a:hover {
    font-size: 20px;
    color: red;
}
header {
    background-color: lightgray;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
section{
    display: inline;
    margin: 20px 0px 20px 0px;
    text-align: center;
    width: 600px;
}
footer {
    background-color: lightgray;
    border: solid 4px lightgray;
    border-radius: 5px;
    text-align: center;
    width: 600px;
    margin: 20px 0px 20px 0px;
}

