/* geral */
:root{
    --grey: #5a5a5a;
    --white: #fff;
    --black: #000;
    --orange: #FF5D46;
}

*{
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 500
}

a{
    text-decoration: none;
    color: inherit;
}
@font-face {
    font-family: 'Authentic';
    src: url('Authentic\ Signature.otf') format('opentype');

}

/* NAV */

nav{
    font-size: 14px;
    max-width: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: var(--white);
     z-index: 3;
    padding: 20px 0;
}
.nav-logo img{
    width: 100px;
    margin: 0 10px;
}
.nav-list ul{
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
}
.nav-list ul li{
    margin: 3px 3px;
    padding: 3px 3px;
    border-bottom: solid 1px var(--white);
}
.nav-list li:hover{
    border-bottom: solid 1px var(--black);
    transition: all 0.5s ease-out;

}
.nav-func{
    display: flex;
    margin: 0 7px;
}
.nav-func i {
    margin-left: 15px;
}
.nav-a{
    display: flex;
}
.nav-a p{
    margin-left: 10px;
}

/* BANNER */
.banner{
    padding-top: 71px;
    width: 100%;
}
.banner img{
    max-width: 100%;
}

/* grid produtos */
.section-title{
    text-align: center;
    margin: 30px;
}
.products{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    align-items: start;
}
.product-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
.card-img{
    max-width: 100%;
    width: 100%;
}

.card-img img {
    max-width: 250px;
    width: 100%;
}
.stars{
    margin: 5px 0;
}
#small{
    font-size: 12px;
}
.card-name{
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}
.card-important{
    color: var(--orange);
}
.bold{
    font-weight: 700;
}
.card-price{
    margin-top: 12px;
}
.text-method{
    margin-bottom: 8px;
}
.product-btn{
    color: var(--white);
    background-color: var(--grey);
    margin: 5px;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;

}
.product-card:hover .product-btn{
    visibility: visible;
    opacity: 1;
}
.benefits-block{
    background-color: var(--black);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 30px;
    padding: 40px 20px;
}

.benefits-block .block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 130px;
}

.benefits-block .block img {
    margin-bottom: 30px;
    width: auto;
    max-width: 100%;
}

.benefits-block .block p {
    text-align: center;
    font-size: 13px;
}
.grid-product{
    display: grid;
}

/* grid categoria */

.section-category{
    background-color: var(--black);
    padding: 50px 30px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
    align-content: center;
    gap: 30px;
}
.block-section{
    position: relative;
}
.block-section div{
    width: 100%;
}
.block-section div img{
    max-width: 500px;
    width: 100%;
}
.block-section div{
    width: 100%;
}
.item1{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}
.block-section .block-content{
    width: fit-content;
    color: var(--white);
    position: absolute;
    top: 50;
    bottom: 0;
    margin: 0 0 3vw 3vw;
}

.block-content h1{
    font-family: 'Authentic';
    font-size: 6em;
    width: fit-content;
}
.block-content p{
    font-weight: 300;
    margin-bottom: 10px;
    width:fit-content;
}
.block-content button{
    color: var(--white);
    background: none;
    border: solid 1px var(--white);
    padding: 5px 30px;
    cursor: pointer;
    transition: all 0.1s ease-in;
    
}
.block-content button:hover{
    background: var(--white);
    color: var(--black);
}

/* depoimentos */

.feedback-section{
    background-color: var(--black);
    padding: 90px 0;
    margin: 70px 0;
}
.feedback-section > div{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}
.feedback-title{
    text-align: center;
}
.feedback-title h2{
    color: var(--grey); 
    font-family: 'Authentic';
    font-size: 4em;
}
.feedback-title h1{
    color: var(--white);
    font-size: 2.5em;
}
.feedback{
    background-color: var(--white);
    width: 330px;
    border-radius: 5px;
    padding: 20px;
    font-size: 13px;
}
.feedback p{
    font-weight: 600;
}
.group{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
} 
.person-info{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    align-items: center;
    text-align: center;

}
.person-info p:first-of-type{
    color: #AA7065;
}
.img-fb{
    grid-row: 1 / 4;
}
.quote{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.quote p{
    text-align: center;
}
.quotation-mark1{
    text-align: end;
}
footer{
    position: relative;
}
.register{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 65px;
    background-color: var(--grey);
    color: var(--white);
    height: 200px;
    padding-bottom: 150px;
}
.form-register input{
    padding: 8px;
}
.form-register input[type=submit]{
    color: var(--white);
    background-color: var(--black);
}
.img-footer{
    display: flex;
    padding: 20px;
    background-color: var(--white);
}
.img-footer > div{
    margin: 10px 10px;
}
.img-footer div:first-child img{
    max-width: 650px;
    width: 100%;
}
.img-footer div:last-child img{
    filter: brightness(70%);
    max-width: 384px;
    width: 100%;
}
.text-wpp{
    text-align: center;
    color: var(--white);
    position: absolute;
    /* top: 40px;
    left: 75px; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text-wpp h1{
    font-family: 'Authentic';
    font-size: 40px;
}
.text-wpp p{
    font-size: 12px;
    
}
.img-wpp{
    position: relative;
}
.footer-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 200px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 100%; 
}
.social{
    margin: 40px 40px;
}
.social a{
    margin: 10px 10px;
}
.info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    color: var(--grey);
    font-size: 12px;
    max-width: 1002px;
    width: 100%;
    justify-content: space-between;
}
.info-title{
    margin-bottom: 15px;
    font-weight: 800;
}
.img-info-footer img{
    width: 75%;
}
.img-info{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.minor-info{
    color: var(--grey);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.first{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
    border-bottom: solid 2px var(--grey);
    border-top: solid 2px var(--grey);
    padding: 10px 0;
}
.first p{
    font-weight: 800;
    font-size: 12px;
}
.final{
    font-size: 12px;
    text-align: center;
    margin: 10px;
}

/* menu mobile  */

.mobile-menu ul{
    display: flex;
    flex-direction: column;
}
.mobile-nav{
    display: none;
    margin: 0 30px;
}

.mobile-menu{
    display: none;
    margin-top: 71px;
    height: fit-content;
    position: fixed;
    z-index: 9;
    background-color: var(--white);
}
.mobile-menu li{
    padding: 10px 70px 10px 8px;
    list-style: none;
    transition: all 0.2s ease;


}
.mobile-menu li:hover{
    background-color: #d9d8d8;
}
.open{
    display: block;
}
.mobile-nav button i, .nav-func a i{
    font-size: 16px;
}





@media (max-width: 1227px){
    .nav-a p{
        display: none;
    }

}
@media screen and (max-width: 1044px){
    .nav-list{
        display: none;
    }
    .mobile-nav{
        display: block;
        cursor: pointer;
    }
    .products{
        grid-template-columns: auto auto;
        justify-content: center;
        align-items: start;
    }
    .card-img img {
        max-width: 300px;
        width: 100%;
    }
    .block-content h1{
        font-size: 10vw;
    }
}

@media (max-width: 1120px){
    .register{
        flex-wrap: wrap;
    }
    .footer-info{
        position: static;
    }
    .register{
        gap: 12px;
        height: 200px;
        padding: 0;
    }
    .img-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .register{
        text-align: center;
        align-content: center;
    }
    .register > div{
        margin: 10px 0;
    }
}
@media (max-width: 890px){
    .info{
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: space-evenly;
        justify-items: start
    }
    .info > div{
        margin-bottom: 20px;
        margin-left: 20px;
    }
    .contato{
        grid-column: 3;
    }
    .qualidade{
        grid-column: 2;
    }
    .entrega{
        grid-column: 3;
    }
    .first{
        flex-wrap: wrap;
        text-align: center;
    }
    .benefits-block{
        flex-wrap: wrap;
    }
    .benefits-block .block{
        width: 100%;
        max-width: 260px;
    }
    .section-category{
        gap: 20px;
    }
}
@media (max-width: 640px){
    .register{
        height: 250px;
    }

    .register > div{
        margin: 0;
    }
    .logo-footer img{
        max-width: 140px;
        width: 100%;
    }
    .logo-footer{
        max-width: 100%;
        width: 100%;
    }
    .benefits-block{
        padding: 20px 20px;
    }
    .benefits-block .block{
        max-width: 200px;
        width: 100%;
    }
    .section-category{
        grid-template-columns: auto;
    }
    .section-category h1{
        font-size: 15vw;
    }
    .feedback-title h2{
        font-size: 2.5em;
        margin: 0 20px;
    }
    .text-register{
        margin-bottom: 8px;
    }
    .form-register form input{
        margin: auto;
    }
    .form-register input[type=submit]{
        margin-top: 5px;
        display: block;
    }
}
@media (max-width: 450px){
    .text-wpp h1{
        font-size: 9vw;
    }
    .text-wpp p{
        font-size: 2vw;
    }
}